/* Kadangi naudoti background-images, tai jokio alternatyvaus teksto nera 
Pats kodas itin netvarkingas ir tikrai galima buvo kitus properties naudot etc.
Galbut siek tiek kitaip, bet tikiuosi pataikiau i principa
Sukurta tik desktop ant didesnio ekrano ir mobile versija. Tablet issikraipo*/

* {
  margin: 0;
  padding: 0;
  font-family: "Dekko";
}

header {
  height: 100px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: orange;
}

header span {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

a {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.main {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  padding: 20px 0;
}

.main > div {
  height: 100%;
  background-color: white;
}

/* Sita nuotrauka labai tinka */
#mainphoto {
  grid-area: 1 / 1 / 4 / 4;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/10.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0 20px 20px 0;
}

#maintext {
  grid-area: 1 / 4 / 3 / 6;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 0 70px;
}

#photo1 {
  grid-area: 4 / 1 / 6 / 2;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/3.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 0 20px 20px 0;
}

#photo2 {
  grid-area: 4 / 2 / 6 / 3;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/5.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

#photo3 {
  grid-area: 4 / 3 / 6 / 4;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/6.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.text1 {
  grid-area: 6 / span 1 / 7;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding: 0 20px;
}

#photoright1 {
  grid-area: 3 / 4 / 4 / 5;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/9.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  padding-top: 20px;
}

#photoright2 {
  grid-area: 3 / 5 / 4 / 6;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  padding-top: 20px;
}

.text2 {
  grid-area: 4 / span 1 / 5;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 0 40px;
}

#photoright3 {
  grid-area: 5 / span 1 / 7;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/7.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

#photoright4 {
  grid-area: 5 / span 1 / 7;
  background-image: url(https://raw.githubusercontent.com/JulijusKau/LuluTheDog/master/Photos/2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px 0 0 20px;
}

footer {
  height: 100px;
  background-color: orange;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 1185px) {
  header span {
    font-size: 40px;
  }

  #maintext {
    font-size: 25px;
    padding: 0;
  }

  .text2 {
    font-size: 17px;
    padding: 0;
  }

  .text1 {
    font-size: 20px;
    padding: 0;
  }
}

/* Toliau nuo mobile L. Nors reiketu dar padaryt nuo ~697px iki ~420px kur jau suluzes, bet tikriausiai nieks nenaudos tokios resolution*/
@media only screen and (max-width: 420px) {
  header span {
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 30px;
  }

  nav {
    column-gap: 10px;
    height: inherit;
  }

  a {
    padding: 5px;
    text-align: center;
    font-size: 10px;
  }

  a > img {
    height: 16px;
    width: 16px;
  }

  .main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0px;
  }

  #maintext {
    grid-area: 1 / 1 / 2 / 4;
    border: 20px solid orange;
    background-color: orange;
  }

  #mainphoto {
    grid-area: 2 / 1 / 4 / 4;
    border-radius: 0;
    border: 20px solid orange;
  }

  #rubai.text1 {
    grid-area: 4 / 1 / 5 / 4;
    border: 20px solid orange;
    background-color: orange;
  }

  #photo1 {
    grid-area: 5 / 1 / 7 / 4;
    border-radius: 0;
    border: 20px solid orange;
  }

  #kinga.text1 {
    grid-area: 7 / 1 / 8 / 4;
    border: 20px solid orange;
    background-color: orange;
    font-size: 20x;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #photo2 {
    grid-area: 8 / 1 / 10 / 4;
    border-radius: 0;
    border: 20px solid orange;
  }

  #kaulas.text1 {
    grid-area: 10 / 1 / 11 / 4;
    border: 20px solid orange;
    background-color: orange;
  }

  #photo3 {
    grid-area: 11 / 1 / 13 / 4;
    border-radius: 0;
    border: 20px solid orange;
  }

  #photoright1 {
    grid-area: 13 / 1 / 15 / 4;
    border-radius: 0;
    border: 10px solid orange;
  }

  #knyga.text2 {
    grid-area: 15 / 1 / 16 / 4;
    border: 10px solid orange;
    background-color: orange;
  }

  #photoright2 {
    grid-area: 18 / 1 / 20 / 4;
    border-radius: 0;
    border: 10px solid orange;
  }

  #photoright3 {
    grid-area: 16 / 1 / 18 / 4;
    border-radius: 0;
    border: 10px solid orange;
  }
  #vairavimas.text2 {
    grid-area: 20 / 1 / 21 / 4;
    border: 10px solid orange;
    background-color: orange;
  }
  #photoright4 {
    grid-area: 21 / 1 / 23 / 4;
    border-radius: 0;
    border: 10px solid orange;
  }

  #maintext,
  .text1,
  .text2 {
    font-size: 20px;
    text-align: center;
  }
}
